html {
    background-color: aquamarine;

}
.h {
font-size: 20px;
color: blue;
background-color: cadetblue;
}
.hh{
    font-size: 20px;
    color: dodgerblue;
    background-color: gold;
}
.hhh{
    font-size: 20px;
    color: gold;
    background-color: rgb(189, 45, 45);
}
.k{
    font-size: 40px;
    color: red;
    background-color: yellow;
}
.kk{
    font-size: 40px;
    color: red;
    background-color: yellow;
}